<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board-mapper">
    <insert id="createBoard" parameterType="board">
        INSERT INTO board (title, content, category, view_count, created_at, modified_at)
        VALUES (#{title}, #{content}, #{category}, 0, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
    </insert>

    <select id="getBoard" parameterType="Long" resultType="board">
        SELECT board_id, category, title, content, view_count
        FROM board
        WHERE board_id = #{boardId}
    </select>

    <select id="getPage" resultType="io.jk.api.service.dto.BoardListByPaged">
        SELECT *
        FROM board
        ORDER BY created_at DESC
        LIMIT #{size}
        OFFSET #{offset}
    </select>

    <update id="updateBoard" parameterType="board">
        UPDATE board
        SET title = #{title}, content = #{content}, modified_at = CURRENT_TIMESTAMP
        WHERE board_id = #{boardId}
    </update>


    <delete id="deleteBoard" parameterType="Long">
        DELETE FROM board
        WHERE board_id = #{boardId}
    </delete>


</mapper>